html, body {
	height: 100%;
	width: 100%;
	background: -webkit-linear-gradient(180deg,#00c6ff,#0072ff) no-repeat;
	background: -moz-linear-gradient(180deg,#00c6ff,#0072ff) no-repeat;
	background: -ms-linear-gradient(180deg,#00c6ff,#0072ff) no-repeat;
	background: -o-linear-gradient(180deg,#00c6ff,#0072ff) no-repeat;
	background: linear-gradient(180deg,#00c6ff,#0072ff) no-repeat;
}

.logo {
	padding-top: 50px;
	text-align: center;
}

.brand {
	height: 100%;
	width: 80%;
}

/*Loading Screen*/
.loading-overlay {
	position: absolute;
	bottom: 30px;
	width: 100%;
	color: white;
	padding-top: 10px;
	font-weight: bold;
	text-align: center;
	text-transform: capitalize;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
	visibility: none;
}

.splash-screen {
	visibility: hidden;
}

.bottom-nav-bar	{
	position: absolute;
	bottom: 0;
	height: 70px;
	width: 100%;
	padding-top: 10px;
	background-color: #FFF;
	text-align: center;
}

.bottom-nav-bar ul {
	margin: 0 auto;
	padding: 0;
	width: 100%;
	text-align: center;
}

.bottom-nav-bar ul li {
	display: inline-block;
	width: 40%;
	text-align: center;
	list-style-type: none;
}

.dashboard-icon, .settings-icon {
	display: block;
	position: relative;
	left: 50px;
	width: 20px;
	height: 25px;
}

.settings-icon {
	width: 26px;
	left: 15px;
}